/**
	ohgita.info	main style sheet
**/

@main-bg: #211f1f;

@nav_background: rgba(90,90,90,0.5);
@nav_active_background: rgba(100,100,100,1.0);
@nav-link_color: #ffffff;

/******************************
	Body
**/

body {
	/*overflow: hidden;*/
	overflow: auto;
	overflow-x: hidden;
	background-image: url('../images/bg_checkered.png');
	color: #ffffff;

	font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
	font-weight:300;
}

/******************************
	Header
**/

header {
	margin:		0;
	padding:		0;

	div{
		.func_cell;
		overflow:	visible;

		h1 {
			.transform_rotate(-15deg);
			position:		relative;
			vertical-align:	middle;
			text-align:		center;
		}

		h2 {
			display: 		table-cell;
			position:		relative;
			vertical-align:	middle;
			text-align: 		center;
		}
	}

	div.tophead {
		.box_shadow (1px, 1px, 5px, 2px, rgba(0, 0, 0, 0.7));
		background:	rgba(255,255,255,0.2);
	}

	div.subhead {
		display:		table;
		background:	rgba(255,255,255,0.2);
	}

	div.blank.cover {
		display:		table;
		background:	rgba(255,255,255,0.2) !important;
	}
}

header:after{
	.after_clear;
}

/******************************
	Nav (Navigation)
**/

nav {
	float: left;

	ul {
		.box_shadow (1px, 1px, 3px, 1px, rgba(0, 0, 0, 0.7));
		display: table;
		margin:				0;
		padding:				0;
		list-style-type:		none;

		li {
			.func_cell;
			display: table;
			vertical-align: middle;
			background: @nav_background;

			a {
				vertical-align:	bottom !important;
				padding-right:	10%;
				padding-bottom:	10%;
				text-align: 		right;
				font-weight: 	bold !important;
				color:			@nav-link_color !important;
				text-shadow: 	0px 0px 3px rgba(0, 0, 0, 0.3);
			}

		}

		li.active {
			background: @nav_active_background !important;
		}
	}

}

/******************************
	Section
**/

section {

	article {

		div {
			.func_cell;
			display: table;
			vertical-align: middle;
		}
	}
}

section:after {
	display: block;
	content: "";
	clear: both;
}

/******************************
	Footer
**/

footer {
	display:		block;
	position:	fixed;
	height:		1.5em;
	line-height: 1.2em;
	width:		100%;
	bottom:		0px;
	text-align: right;
	font-size:	0.6em;
	background-image: url('../images/bg_checkered.png');

	a {
		margin-right:	5%;
		color:	white;
	}
}


/******************************
	General classs
**/

.pull_left {
	text-align: left;
}

.pull_right {
	text-align: right;
}

.cell {
	.func_cell;
}

.cell.article {
	overflow:		auto;
	padding-left:	10%;
	padding-bottom:	10%;
	margin-right:	-20%;
	h2 {
		border-bottom: 1px #000000 solid;
	}
	p {
		padding-left: 1%;
	}
}

.cell.white { /* Usable for all cell */
	color:		#000000;
	background:	rgba(255,255,255,1.0);
}

.cell.blank {
	.user_select(none);
	background: none !important;
}

.cell.flicker{
	transition: background-color  0.3s ease;
		-webkit-transition: background-color 0.3s ease;
		-moz-transition: background-color 0.3s ease;
		-o-transition: background-color 0.3s ease;

	a {
		vertical-align: middle;
		display: table-cell;
		color:	white;
	}
}

.cell.flicker:focus, .cell.flicker:hover {
	color: black !important;
	background-color: white;
	a {
		color: black !important;
	}
}

/******************************
 	Mixins
 **/

.after_clear (){
	display:		block;
	content:		"";
	clear:		both;
}

.func_cell (@bg-color : @main-bg){
	position: relative;
	float: left;
	margin: -1px;
	border: 1px solid #303030;
}

.box_shadow (@x:0px, @y:0px, @b:0px, @l:0px, @color: rgba(0,0,0,0.5)){
	box-shadow: @x @y @b @l @color;
		-moz-box-shadow: @x @y @b @l @color;
		-webkit-box-shadow: @x @y @b @l @color;
		-o-box-shadow: @x @y @b @l @color;
		-ms-box-shadow: @x @y @b @l @color;
}

.box_shadow_inset (@x:0px, @y:0px, @b:0px, @l:0px, @color: rgba(0,0,0,0.5)){
	box-shadow: @x @y @b @l @color inset;
		-moz-box-shadow: @x @y @b @l @color inset;
		-webkit-box-shadow: @x @y @b @l @color inset;
		-o-box-shadow: @x @y @b @l @color inset;
		-ms-box-shadow: @x @y @b @l @color inset;
}

.user_select (@mode: none){
	user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
}

.transform_rotate (@rotate_deg) {
	transform: rotate(@rotate_deg);
		-webkit-transform: rotate(@rotate_deg);
		-o-transform: rotate(@rotate_deg);
		-moz-transform: rotate(@rotate_deg);
		-ms-transform: rotate(@rotate_deg);
}