.eye {
	background-color: #d0c394;
}

.pict0 {
	background-image: url(../images/DSC_0258.JPG) !important;
	background-size:	 cover;
}

.pict1 {
	background-image: url(../images/IMG_0206.JPG) !important;
	background-size:	 cover;
}

.mouth {
	background-color: #8b5757;
}

.cell {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
	text-align: center;
}

.segm {
	opacity:	 0.1;
	background-color: rgba(238,187,203,0.7) !important;
	border-color:	  #000000;
}

.segm_new {
	opacity:	 0.1;
	background-color: rgba(255,255,255,1.0) !important;
	border-color:	  #000000;
}