.eye {
	background-color: #d0c394;
}

.mouth {
	background-color: #8b5757;
}

.cell {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
	text-align: center;
}

.segm {
	background-color: #ffeaea;
	border-color:	  #ff8e8e;
}