.eye {
	background-color: #d0c394;
}

.mouth {
	background-color: #8b5757;
}

.cell {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
	text-align: center;
}

.segm {
	background-color: rgba(238,187,203,0.7);
	border-color:	  #000000;
}